NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
NEXT_PUBLIC_RPC_URL=https://testnet-rpc.monad.xyz
NEXT_PUBLIC_CONTRACT_ADDRESS=
NEXT_PUBLIC_EXPLORER_TX_URL=https://testnet.monadexplorer.com/tx
NEXT_PUBLIC_GITHUB_URL=
NEXT_PUBLIC_SITE_URL=https://glassbox.arnxv.xyz
